.btn__add
{
  @include styleText($fs-1,$fw-3,$color-black1);
  @include styleButton($pd-1,$pd-2,$color-white1);
  border: none;
  outline: none;
  &:hover
  {
    @include styleText($fs-1,$fw-3,$color-white1);
    @include styleButton($pd-1,$pd-2,$color-black1);
    text-decoration: none;
  }
}
