.main
{
  display: flex;
}
.card
{
  margin: 20px;
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  border-radius: $radius-2;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition: all .5s;
}
.card
{
  &:hover
  {
    height: 520px;
    // height: auto;
    .content
    {
      .name__product
      {
        .details
        {
          opacity: 1;
        }
      }
    }
  }
}
.imgBx
{
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: $color-white1;
  border-radius: $radius-2;
  box-shadow: 0 15px 50px rgba(0,0,0,0.35);
  overflow: hidden;
  transition: all .5s;
}
.card
{
  &:hover
  {
    .imgBx
    {
      width: 230px;
      height: 230px;
    }
  }
}

.imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card
{
  .content
  {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 150px;
    // overflow: hidden;
    .name__product
    {
      padding: 40px;
      text-align: center;
      width: 100%;
      transition: 0.5s;
      h2 
      {
        font-size: $fs-4;
        font-weight: $fw-3;
        color: $color-grey1;
        line-height: $lh-1;
        span 
        {
          font-size: $fs-5;
          font-weight: $fw-2;
          opacity: 0.7;
        }
      }
      .details
      {
        @include styleText($fs-1,$fw-1,$color-black1);
        opacity: 0;
      }
    }
  }
}
.card
{
  .content
  {
    .price__button
    {
      display: flex;
      justify-content: space-evenly;
      margin: $mg-4 0;
      gap: 20px;
      span 
      {
        @include styleText($fs-6,$fw-3,$color-grey1);
        line-height: 44px;
      }
    }

  }
}