.products
{
  display: flex;
}
.card
{
 margin: $mg-3; 
 background: $color-grey1;
 color: $color-white1;
 border-radius: $radius-4;
 img 
 {
  border-radius: $radius-4;
  height: auto;
 }
 .card-body
 {
  h5 
  {
    @include styleText($fs-7,$fw-2,$color-white1);
  }
  .price-btn
  {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    span 
    {
      @include styleButton($pd-1,$pd-2,$color-white1);
      @include styleText($fs-1,$fw-3,$color-grey1);
      border: none;
      outline: none;
    }
  }
 }


}