header{
  background-image: url(https://www.northlandscapes.com/files/images/wallpaper/northlandscapes-smartphone-wallpaper-preview-images-03.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}